openapi: 3.0.3
tags:
  - name: Partner
  - name: Rechte
info:
  title: partner-api
  version: v2.0
  description: 'Das Partnermanagment von Europace ermöglicht Organisationen ihre eigenen Struktur abzubilden, um jedem Partner oder Mitarbeiter einen Zugang zu geben und Rechte einzustellen.'
  contact:
    name: Europace AG
    url: 'http://docs.api.europace.de'
    email: info@europace.de
  termsOfService: 'https://docs.api.europace.de/nutzungsbedingungen/'
servers:
  - url: 'https://api.europace.de/v2'
    description: Produktion Server
externalDocs:
  url: 'https://docs.api.europace.de/baufinanzierung/partner/partner-api/'
paths:
  '/partner/{partnerId}':
    parameters:
      - schema:
          type: string
        name: partnerId
        in: path
        required: true
        description: ID des Partners
    get:
      summary: Partnerdaten abrufen
      operationId: getPartner
      description: Liefert die Daten eines Partners
      security:
        - europace_oauth2:
            - 'partner:plakette:lesen'
      responses:
        '200':
          description: 'Es werden je nach Typ (Person, Organisation) unterschiedliche Datenstrukturen geliefert.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partner'
              examples:
                Partner:
                  value:
                    partnerId: SZY92
                    vorname: Max
                    nachname: Musterman
                    typ: PERSON
                    email: community@europace2.de
                    webseite: 'https://www.europace2.de'
                    avatar: 'https://www.europace2.de/partnermanagement/984094aa488a4dd8e3273c4b898fe63e.avatar?id=4ff189174ad2e9f19178073b'
                    gesperrt: false
                    parent:
                      partnerId: WER03
                    telefonnummer: (030) 12345678
                    firmenname: Firma
                    anschrift:
                      strasse: Heidestraße
                      hausnummer: '8'
                      plz: '10557'
                      ort: Berlin
                    bankverbindung:
                      kontoinhaber: Dr. Klein & Co. AG
                      bic: PBNKDEFFXXX
                      iban: DE94370100500040661506
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Partner ist nicht vorhanden oder es darf nicht auf ihn zugegriffen werden.
      tags:
        - Partner
      parameters: []
    patch:
      summary: Partner anpassen
      operationId: updatePartner
      responses:
        '200':
          description: |-
            Partner wurde angepasst.

            Der Body der Response enthält die aktuellen Stammdaten im JSON Format. Dies kann zur Erfolgskontrolle genutzt werden. Attribute, die serverseitig gesetzt werden bzw. für die es Defaultwerte gibt, sind dabei immer enthalten.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partner'
        '400':
          description: Bad Request - Validierung ist fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Beispiel:
                  value:
                    message: 'Enum literal für ''anrede'' muss FRAU oder HERR sein.: abc'
                    traceId: ' ff-request-2014-10-01-07-55'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner'
        description: 'Es brauchen nur die Attribute angegeben werden, die sich verändern sollen.'
      description: Partner anpassen
      security:
        - europace_oauth2:
            - 'partner:plakette:schreiben'
      tags:
        - Partner
  '/partner/{partnerId}/rechte':
    parameters:
      - schema:
          type: string
        name: partnerId
        in: path
        required: true
        description: ID des Partners
    get:
      summary: Partner-Rechte abrufen
      operationId: getPartnerRechte
      description: Liefert die Rechte eines Partners
      security:
        - europace_oauth2:
            - 'partner:rechte:lesen'
      tags:
        - Partner
        - Rechte
      responses:
        '200':
          description: Es werden die Rechte eines Partners zurück gegeben.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechte'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Partner ist nicht vorhanden oder es darf nicht auf ihn zugegriffen werden.
    patch:
      summary: Partner-Recht setzen
      operationId: setPartnerRecht
      description: Alle Rechte eines Partners aktualisieren
      security:
        - europace_oauth2:
            - 'partner:rechte:schreiben'
      tags:
        - Partner
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rechte'
      responses:
        '200':
          description: Es werden die geänderten Rechte eines Partners zurück gegeben.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rechte'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Partner ist nicht vorhanden oder es darf nicht auf ihn zugegriffen werden.
  '/partner/{partnerId}/untergeordnete':
    parameters:
      - schema:
          type: string
        name: partnerId
        in: path
        required: true
        description: ID des Partners
    post:
      summary: Partner anlegen
      operationId: createPartner
      description: 'Erstellt einen neuen Partner als Organisation oder Person, abhängig vom Typ.'
      security:
        - europace_oauth2:
            - 'partner:plakette:anlegen'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner'
            examples:
              Person:
                value:
                  anrede: HERR
                  vorname: Max
                  nachname: Mustermann
                  email: max.musterman@exmaple.org
                  gesperrt: false
                  kreditsachbearbeiter: true
                  externePartnerId: '123456'
                  titelFunktion: Softwareentwickler
                  geburtsdatum: '1970-01-01'
                  telefonnummer: 030 123456
                  mobilnummer: 030 123456
                  faxnummer: 030 123456
                  firmenname: Europace AG
                  firmennameZusatz: Aktiengesellschaft
                  webseite: 'https://github.com/europace/partner-api'
                  anschrift:
                    strasse: Musterstraße
                    hausnummer: '5'
                    plz: '12345'
                    ort: Musterstadt
                  bankverbindung:
                    kontoinhaber: Max Musterman
                    bic: BYLADEM1001
                    iban: DE02120300000000202051
                    referenzFeld: Test Ref
                  aufsichtsbehoerde: Musterbehoerde
                  registrierungsnummer: '987654'
        description: |-
          Bei der serverseitigen Auswertung gelten folgende Regeln:

          * unbekannte Attribute werden ignoriert.
          * Für Organisationen werden personenspezifische Attribute ignoriert.
          * Für Personen werden organisationenspezifische Attribute ignoriert.
          * Leere Attribute bei Strings ("") werden ignoriert.
          * "id" ist nicht setzbar und wird deshalb ignoriert.
          * Rechte werden für Personen -sofern nicht angegeben- mit "false" belegt.
      tags:
        - Partner
      responses:
        '201':
          description: |-
            Partner wurde angelegt.

            Der Body der Response enthält die aktuellen Stammdaten im JSON Format. Dies kann zur Erfolgskontrolle genutzt werden. Attribute, die serverseitig gesetzt werden bzw. für die es Defaultwerte gibt, sind dabei immer enthalten.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partner'
              examples:
                Person:
                  value:
                    partnerId: SZY92
                    typ: PERSON
                    avatar: 'https://www.europace2.de/partnermanagement/984094aa488a4dd8e3273c4b898fe63e.avatar?id=4ff189174ad2e9f19178073b'
                    parent:
                      partnerId: WER03
                    anrede: HERR
                    vorname: Max
                    nachname: Mustermann
                    email: max.musterman@exmaple.org
                    gesperrt: false
                    kreditsachbearbeiter: true
                    externePartnerId: '123456'
                    titelFunktion: Softwareentwickler
                    geburtsdatum: '1970-01-01'
                    telefonnummer: 030 123456
                    mobilnummer: 030 123456
                    faxnummer: 030 123456
                    firmenname: Europace AG
                    firmennameZusatz: Aktiengesellschaft
                    webseite: 'https://github.com/europace/partner-api'
                    anschrift:
                      strasse: Musterstraße
                      hausnummer: '5'
                      plz: '12345'
                      ort: Musterstadt
                    bankverbindung:
                      kontoinhaber: Max Musterman
                      bic: BYLADEM1001
                      iban: DE02120300000000202051
                      referenzFeld: Test Ref
                    aufsichtsbehoerde: Musterbehoerde
                    registrierungsnummer: '987654'
          headers:
            Location:
              schema:
                type: string
              description: 'Link auf den neu angelegten Partner '
        '205':
          description: Partner konnte anhand der PartnerId oder externen PartnerId gefunden werden und wurde aktualisiert.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partner'
          headers:
            Location:
              schema:
                type: string
              description: Link auf den gefundenen und aktualsierten Partner
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: 'Für das Anlegen neuer Partner benötigt der Aufrufer das Recht "Darf Organisationseinheiten anlegen" sowie Einstellungsrechte auf denjenigen Partner, unterhalb dessen der neue Partner angelegt werden soll. Sind diese nicht vorhanden, erhält der Aufrufer eine HTTP Response mit Statuscode 403 FORBIDDEN.'
    get:
      summary: untergeordnete Partner abrufen
      operationId: getChildren
      description: Liefert eine Liste von untergeordneten Partnern.
      security:
        - europace_oauth2:
            - 'partner:plakette:lesen'
      responses:
        '200':
          description: Liste von untergeordneten Partnern.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plakette'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
        - Partner
        - Rechte
  '/partner/{partnerId}/partnerkennzeichen':
    parameters:
      - schema:
          type: string
        name: partnerId
        in: path
        required: true
        description: ID des Partners
    get:
      summary: Partnerkennzeichen abrufen
      operationId: getPartnerkennzeichen
      description: Die Partnerkennzeichen identifizieren einen Vertrieb bei einem Produktanbieter. Die erfassten Werte können über diesen Endpunkt ausgelesen werden.
      security:
        - europace_oauth2:
            - 'partner:plakette:lesen'
      tags:
        - Partner
      responses:
        '200':
          description: Liste mit Partnerkennzeichen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partnerkennzeichen'
              examples:
                Beispiel:
                  value:
                    dslSapGeschaeftspartnerNummerFuerRatenkredit: cdts-dsl-sap-vo
                    dslVertriebsWegSchluesselFuerRatenkredit: '1899026629'
                    dkbVertriebsIdFuerRatenkredit: cdts-dkb-vertrieb
                    kennzeichenIngDiba:
                      vermittlerNummer: '9800002186'
                      vermittlerVorname: wer
                      vermittlerNachname: wer
                      vermittlerNummerFuerRatenkredit: cdts-ing-diba-vermittler
                    kennzeichenErgo: {}
                    kennzeichenBhw:
                      vgeNummer: 6248/205585.0
                      orgaNummer: ORGA123
                      zurIdentifikationsPruefungLegitimiert: 'false'
                    lbsOstVermittlerNummer: lbsost-werwer-vermittler
                    lbsShhVermittlerNummer: lbs-ssh-ldapvermittler
                    lbsSuedwestVermittlerNummer: lbs-südwest-ldapvermittler
                    lbsWestVermittlerNummer: lbs-west-ldapvermittler
                    allianzVertreterNummer: 01/012/0123
                    axaGeschaeftsPartnerNummer: MA 00352
                    dslVermittlerGruppenSchluessel: '1200'
                    bshVoNummer: abcdefghijklmnopqrstuvwxyz
                    bshAkquisitionsWeg: AW1
                    bshBlzVertriebsbank: '1234567890'
                    dzHypVermittlerNummer: '1234'
                    alteLeipzigerVerbundVermittlerNummer: '42'
                    rundvBankAgenturNummer: RV_BAN
                    rundvBlzVertriebsbank: RV_BLZ
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/partner/{partnerId}/administrierbare':
    parameters:
      - in: path
        name: partnerId
        schema:
          type: string
        required: true
        description: ID des Partners
    get:
      summary: administrierbare Partner abrufen
      operationId: getAdministrierbare
      tags:
        - Partner
        - Rechte
      description: |
        Liefert alle Partner, bei denen dieser Partner die Daten und Berechtigungen ändern oder das Reporting abrufen darf.
        Es wird mindestens der Partner selbst zurückgegeben, da jeder mindestens sich selbst einstellen oder sein eigenes Reporting abrufen darf.

        Um eine bessere Performance zu erreichen, wurde in der neuen PEX2 darauf verzichtet die implizit administrierbaren Partner mit ausgegeben. Um diese zu ermitteln, ist es notwendig über die Untergeordneten der Resultliste zu iterieren.
      security:
        - europace_oauth2:
            - 'partner:beziehungen:lesen'
      responses:
        '200':
          description: 'Liste aller Partner, bei denen dieser Partner die Daten und Berechtigungen ändern oder das Reporting abrufen darf.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentPartnerIds'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/partner/{partnerId}/uebernehmbare':
    parameters:
      - name: partnerId
        description: ID des Partners
        in: path
        required: true
        schema:
          type: string
    get:
      summary: übernehmbare Partner abrufen
      operationId: getUebernehmbare
      tags:
        - Partner
        - Rechte
      description: |-
        Liefert alle Partner, deren Vorgänge vom Partner gesehen, geöffnet und bearbeitet werden können (Zugriff). 

        Um eine bessere Performancezu erreichen, wurde in der neuen PEX2 darauf verzichtet die implizit Übernehmbaren mit ausgegeben. Um diese zu ermitteln, ist es notwendig über die Untergeordneten der Resultliste zu iterieren.
      security:
        - europace_oauth2:
            - 'partner:beziehungen:lesen'
      responses:
        '200':
          description: 'Liste alle Partner, deren Vorgänge von dem Partner gesehen, geöffnet und bearbeitet werden können (Zugriff). '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentPartnerIds'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/partner/{partnerId}/uebernahmeRechtFuer/{target}':
    parameters:
      - schema:
          type: string
        name: partnerId
        in: path
        required: true
        description: 'Partner, dessen Zugriffrechte ermittelt werden sollen'
      - schema:
          type: string
        name: target
        in: path
        required: true
        description: 'Partner, auf den zugegriffenen werden soll'
    get:
      summary: Übernahmerecht für einen Partner prüfen
      operationId: getUebernahmeRechtFuer
      tags:
        - Partner
        - Rechte
      description: 'Ermittelt, ob der Partner auf die Vorgänge eines anderen Partner zugreifen darf'
      security:
        - europace_oauth2:
            - 'partner:beziehungen:lesen'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Target
                type: object
                properties:
                  partner:
                    $ref: '#/components/schemas/Plakette'
                  uebernehmbar:
                    type: boolean
                    description: 'Kann auf die Vorgänge des Partner zugegriffen werden? '
              examples:
                Beispiel:
                  value:
                    partner:
                      partnerId: AAV43
                      gesperrt: false
                    uebernehmbar: true
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    post:
      summary: Zugriffrecht auf einen Partner vergeben
      operationId: setUebernahmeRechtFuer
      tags:
        - Partner
        - Rechte
      description: Erzeugt ein Zugriffsrecht auf einen Partner
      security:
        - europace_oauth2:
            - 'partner:beziehungen:schreiben'
      responses:
        '201':
          description: Created
        '401':
          description: Unauthorized - AccessToken ungültig
        '403':
          description: 'Forbidden - Administrierbar-Recht auf Partner-Id oder Scope ''partner:beziehung:schreiben'' nicht vorhanden'
        '404':
          description: Not Found - PartnerId oder target wurden nicht gefunden
  '/partner/{partnerId}/zugang':
    parameters:
      - in: path
        name: partnerId
        schema:
          type: string
        required: true
        description: ID des Partners
    get:
      summary: Zugang abfragen
      tags:
        - Partner
      security:
        - europace_oauth2:
            - 'partner:plakette:lesen'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zugang'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - kein Zugriff
        '404':
          description: Not Found - Partner nicht gefunden
      operationId: getZugang
      description: Liefert die Zugangsdaten eines Partners. Bei einer Person werden die Benutzer-Zugangsdaten und bei einer Organisation die Daten des Identity Provider geliefert.
    post:
      summary: Zugang anlegen
      tags:
        - Partner
      operationId: createZugang
      security:
        - europace_oauth2:
            - 'partner:plakette:schreiben'
      parameters:
        - in: query
          name: sendEmail
          schema:
            type: boolean
            default: false
          required: false
          example: true
          description: 'Wenn der Benutzername gesetzt ist, wird eine E-Mail an den Benutzernamen gesendet, der ihn zur Vergabe eines Passwortes anleitet.'
      responses:
        '201':
          description: |-
            Zugang wurde angelegt.

            Der Body der Response enthält die aktuellen Zugangsdaten im JSON Format. Dies kann zur Erfolgskontrolle genutzt werden. Attribute, die serverseitig gesetzt werden, sind dabei immer enthalten.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zugang'
        '400':
          description: Bad Request - Anfrage ungültig/konnte nicht verstanden werden
        '401':
          description: Unauthorized
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                usernameNotAllowed:
                  value:
                    message: Username not allowed
                    statusCode: 406
                    statusMessage: Dieser Benutzername existiert bereits in Europace
                    timestamp: '2021-01-20T10:03:29.02'
                    traceId: XABC-2333...
                alreadyExists:
                  value:
                    message: Already Exists
                    statusCode: 406
                    statusMessage: Es existiert bereits ein Zugang
                    timestamp: '2021-01-20T10:03:29.02'
                    traceId: XABC-2333...
                wrongPartnerType:
                  value:
                    message: wrongPartnerType
                    statusCode: 406
                    statusMessage: Ein Zugang kann nur an einer Person nicht einer Organisation angelegt werden.
                    timestamp: '2021-01-20T10:03:29.02'
                    traceId: XABC-122...
        '409':
          description: Conflict - es existiert bereits ein benutzername im Zugang
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: CreateZugang
              properties:
                benutzername:
                  type: string
                  example: max.mustermann@email.de
                  format: email
                  description: 'Eine in Europace eindeutige Emailadresse, die als Identifikation des Benutzers verwendet wird. '
                identityProviderBenutzername:
                  type: string
                  description: Benutzername für den IdentityProvider. Die Eindeutigkeit ist nicht relevant. Ist das Feld <null> wird der Benutzername für den Identity Provider verwendet.
        description: ''
      description: Erzeugt einen Zugang für eine Person.
    patch:
      summary: ''
      operationId: patchZugang
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zugang'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - kein Zugriff
        '404':
          description: Not Found - Partner nicht gefunden
      description: Ändert Benutzernamen und/oder IdP-Benutzernamen.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: PatchZugang
              properties:
                identityProviderBenutzername:
                  type: string
                  description: Benutzername für den IdentityProvider. Die Eindeutigkeit ist nicht relevant. Ist das Feld <null> wird der Benutzername für den Identity Provider verwendet.
                  example: max.mustermann
            examples:
              IdP-Benutzernamen ändern:
                identityProviderBenutzername: max.mustermann01
        description: 'Es brauchen nur die Attribute angegeben werden, die sich verändern sollen.'
components:
  securitySchemes:
    europace_oauth2:
      type: http
      scheme: bearer
      description: ''
  schemas:
    PartnerId:
      type: object
      properties:
        partnerId:
          type: string
          description: Europace PartnerId (readonly)
          minLength: 5
          readOnly: true
    Plakette:
      type: object
      properties:
        partnerId:
          type: string
          description: Europace PartnerId (readonly)
          minLength: 5
          readOnly: true
        vorname:
          type: string
          description: Dieses Feld ist nur für den Typ 'PERSON' gefüllt.
        nachname:
          type: string
          description: Dieses Feld ist nur für den Typ 'PERSON' gefüllt.
        name:
          type: string
          description: Dieses Feld ist nur für den Typ 'ORGANISATION' gefüllt.
        typ:
          $ref: '#/components/schemas/Typ'
        email:
          type: string
          format: email
          example: john.doe@example.org
        avatar:
          type: string
          format: uri
          readOnly: true
        gesperrt:
          type: boolean
          default: false
          description: 'true, wenn der Partner oder ein übergeordneter Partner gesperrt ist.'
        kreditsachbearbeiter:
          type: boolean
    Partner:
      title: Partner
      allOf:
        - $ref: '#/components/schemas/Plakette'
        - type: object
          properties:
            parent:
              title: parent
              allOf:
                - $ref: '#/components/schemas/PartnerId'
            externePartnerId:
              type: string
              description: 'Eine beliebige, extern erzeugte Id. Z.B. SAP oder CRM Nummer.'
            titelFunktion:
              type: string
            anrede:
              type: string
              enum:
                - HERR
                - FRAU
              example: FRAU
            geburtsdatum:
              type: string
              format: date
              description: ISO-8601 Calender extended(YYYY-MM-DD) format.
              example: '1980-12-11'
            telefonnummer:
              type: string
            mobilnummer:
              type: string
            faxnummer:
              type: string
            firmenname:
              type: string
            firmennameZusatz:
              type: string
              description: Zusatz zur Firma (z.B. Abteilung)
            webseite:
              type: string
              format: uri
            anschrift:
              $ref: '#/components/schemas/Anschrift'
            bankverbindung:
              $ref: '#/components/schemas/Bankverbindung'
            aufsichtsbehoerde:
              type: string
            registrierungsnummer:
              type: string
    Rechte:
      title: Rechte
      type: object
      properties:
        partnermanagement:
          type: object
          description: Rechte des Partnermanagements
          properties:
            apiClientEinstellungenVornehmen:
              type: boolean
              default: false
              description: Darf API Client Einstellungen vornehmen
            einstellungenOeffnen:
              type: boolean
              default: false
            baufiSmartEinstellungenVornehmen:
              type: boolean
              default: false
            partnerAnlegen:
              type: boolean
              default: false
              description: Darf Partner anlegen
        baufismart:
          type: object
          description: Rechte der BaufiSmart Oberfläche
          properties:
            baufiSmartNutzen:
              type: boolean
              default: true
            echtgeschaeft:
              type: boolean
              default: false
            vorgaengeUeberOberflaecheAnlegen:
              type: boolean
              default: true
            ergebnisListeNutzen:
              type: boolean
              default: false
            loeschen:
              type: boolean
              default: false
              description: Darf Baufismart-Vorgänge und damit verbundende Daten löschen
        kreditsmart:
          type: object
          properties:
            echtgeschaeft:
              type: boolean
              default: false
            kreditSmartSichtbar:
              type: boolean
              default: false
            versicherungAnbieten:
              type: boolean
              default: false
            vorgaengeUeberOberflaecheAnlegen:
              type: boolean
              default: false
    Bankverbindung:
      title: bankverbindung
      type: object
      properties:
        referenzFeld:
          type: string
        kontoinhaber:
          type: string
        bic:
          type: string
          pattern: '(^.{0}$|[A-Z,0-9]{11,11})'
        iban:
          type: string
          minLength: 22
          maxLength: 22
    Anschrift:
      title: anschrift
      type: object
      properties:
        strasse:
          type: string
        hausnummer:
          type: string
        plz:
          type: string
          minLength: 5
          maxLength: 5
        ort:
          type: string
    ContentPartnerIds:
      title: content
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/PartnerId'
        next:
          type: string
          description: 'Optional, present if next page exist.'
        prev:
          type: string
          description: 'Optional, present if previous page exist.'
    Partnerkennzeichen:
      type: object
      properties:
        dslSapGeschaeftspartnerNummerFuerRatenkredit:
          type: string
        dslVertriebsWegSchluesselFuerRatenkredit:
          type: string
        dkbVertriebsIdFuerRatenkredit:
          type: string
        kennzeichenIngDiba:
          type: object
          properties:
            vermittlerNummer:
              type: string
            vermittlerVorname:
              type: string
            vermittlerNachname:
              type: string
            vermittlerNummerFuerRatenkredit:
              type: string
        kennzeichenErgo:
          type: object
          properties:
            maklerBuero:
              type: string
            bdNummer:
              type: string
        kennzeichenBhw:
          type: object
          properties:
            vgeNummer:
              type: string
            orgaNummer:
              type: string
            zurIdentifikationsPruefungLegitimiert:
              type: string
        lbsNordVermittlerNummer:
          type: string
        lbsOstVermittlerNummer:
          type: string
        lbsShhVermittlerNummer:
          type: string
        lbsSuedwestVermittlerNummer:
          type: string
        lbsWestVermittlerNummer:
          type: string
        devkVermittlerNummer:
          type: string
        wuestenrotVermittlerNummer:
          type: string
        allianzVertreterNummer:
          type: string
        axaGeschaeftsPartnerNummer:
          type: string
        dslVermittlerGruppenSchluessel:
          type: string
        bshVoNummer:
          type: string
        bshAkquisitionsWeg:
          type: string
        bshBlzVertriebsbank:
          type: string
        dzHypVermittlerNummer:
          type: string
        naevVermittlerNummer:
          type: string
        rUndvBankAgenturNummer:
          type: string
        rUndvBlzVertriebsbank:
          type: string
        bausparkasseMainzVermittlerNummer:
          type: string
        deutscherRingVermittlerNummer:
          type: string
        alteLeipzigerVerbundVermittlerNummer:
          type: string
        signalIdunaBetreuerNummer:
          type: string
        signalIdunaFilialDirektionNummer:
          type: string
        hanseaticVertriebsPartnerNummer:
          type: string
        commerzbankVermittlerNummer:
          type: string
    Typ:
      type: string
      enum:
        - PERSON
        - ORGANISATION
    Zugang:
      title: Zugang
      type: object
      description: Beschreibt die Zugangsdaten einer Person.
      x-examples:
        über eigenen Identity Provider:
          partnerId: SCR06
          benutzername: max.mustermann@email.de
          status: ZUGANG_REGISTRIERT
          identityProviderConfigURL: 'https://auth.meineDomain.de/adfs/.well-known/openid-configuration'
      properties:
        partnerId:
          type: string
          example: SCR06
        benutzername:
          type: string
          example: max.mustermann@email.de
          description: eindeutiger Benutzername bei Europace als E-Mail-Adresse
        status:
          type: string
          enum:
            - KEIN_ZUGANG
            - ZUGANG_UNBESTAETIGT
            - ZUGANG_REGISTRIERT
            - ZUGANG_REGISTRIERT_KEIN_ZUGANG
            - BENUTZERNAME_AENDERUNG_UNBESTAETIGT
          description: |-
            KEIN_ZUGANG = es ist kein Benutzername vergeben
            ZUGANG_UNBESTAETIGT = Benutzername ist vergeben aber noch nicht verifiziert
            ZUGANG_REGISTRIERT = Benutzername ist vergeben und verifiziert
            ZUGANG_REGISTRIERT_KEIN_ZUGANG = Benutzername ist vergeben und verifiziert aber gesperrt
            BENUTZERNAME_AENDERUNG_UNBESTAETIGT = Benutzername wurde geändert und noch nicht verifiziert
        identityProviderBenutzername:
          type: string
          description: Benutzername am Identity Provider. Ist er <null> wird `benutzername` verwendet.
        identityProviderConfigURL:
          type: string
          description: 'Gültiger Identity Provider, der bei einer Authentifizierung durch den Benutzer verwendet wird.'
      required:
        - partnerId
        - status
    Error:
      title: Error
      type: object
      properties:
        message:
          type: string
        traceId:
          type: string
      required:
        - message
  responses: {}
security:
  - europace_oauth2: []
